<!DOCTYPE html>
<html>
<head>
    <title>Third Party IP Change Alert</title>
    <style>
        table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 14px;
            text-align: left;
        }
        table, th, td {
            border: 1px solid #dddddd;
        }
        th {
            padding: 10px;
            text-align: center;
        }
        td {
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h2>Greetings, {{.Name}}!</h2>
<p>DNS resolution for a 3rd party vendor file transfer site has changed.</br></br>
    Please alter outbound rules to allow access the new IP address at the desired ports:</br></br>

    <b>SOMESERVER172</b></br>
    <b>SOMESERVER173</b></br>
    <b>SOMESERVERBATCH01</b></br>
    <b>SOMESERVERBATCH02</b></br>
    <b>SOMESERVERD01</b></br></br>

    The above is probably a partial list of servers, but these are the ones that have been identified at the time this
    script was written.</br></br>
    <b>Warning</b>: Failure to address outbound connectivity before the next batch run may result in production delays.</p>
<table>
    <tr><td>Contact DL</td><td>{{.Email}}</td></tr>
    <tr><td>Site hostname</td><td>{{.Hostname}}</td></tr>
    <tr><td>Port</td><td>{{.Port}}</td></tr>
    <tr><td>Vendor</td><td>{{.Vendor}}</td></tr>
    <tr><td>Old IP</td><td>{{.OldIP}}</td></tr>
    <tr><td>New IP</td><td>{{.NewIP}}</td></tr>
</table>
</body>
</html>